<div class="conteudo">
    <div id="container-cadastre-se">
      <span class="letter"
        ><img src="img/bichinho-piscando.gif" class="bichinho-piscando" />
        &nbsp;</span
      >
      <h1>Faça seu cadastro!</h1>
      <div id="home">
      </div>
    </div>
  
    <div id="form">
      <form>
        <input
          type="text"
          name="nome"
          id="nomes"
          placeholder="Nome completo"
          required
        />
        <input
          type="text"
          name="email"
          id="nomes"
          placeholder="E-mail"
          required
        />
        <input
          type="password"
          name="criarsenha"
          id="senha"
          placeholder="Criar senha"
          required
        />
        <input
          type="password"
          name="confirmarsenha"
          id="senha"
          placeholder="Confirmar senha"
          required
        />
        <input
          type="password"
          name="telefone"
          id="senha"
          placeholder="(DDD)Telefone"
          required
        />
  
        <input
          type="password"
          name="cep"
          id="senha"
          placeholder="(DDD)Cep"
          required
        />
        <input
          type="password"
          name="bairro"
          id="senha"
          placeholder="Bairro"
          required
        />
        <input type="password" name="rua" id="senha" placeholder="Rua" required />
        <input
          type="password"
          name="numero"
          id="senha"
          placeholder="Número"
          required
        />
        <input
          type="password"
          name="complemento"
          id="senha"
          placeholder="Complemento"
          required
        />
      </form>
    </div>
  
    <div>
      <p class="login">
        Se já possui uma conta, <a href="/login">faça login aqui.</a>
      </p>
    </div>
  
    <div id="centralizador">
      <button
        type="submit"
        (click)="confirmOrder()"
        value="Cadastre-se"
        id="btn-cadastre-se"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cadastre-se
      </button>
    </div>
  </div>