<div class="conteudo">
    <div id="container-cadastre-se">
      <span class="letter"
        ><img src="img/bichinho-piscando.gif" class="bichinho-piscando" />
        &nbsp;</span
      >
      <h1>Faça seu cadastro!</h1>
      <div id="home">
      </div>
    </div>
  
    <div id="form">
      <form (ngSubmit) = "cadastro()">
        <input
          type="text"
          [(ngModel)] = "nomeUsuario"
          name="nome"
          id="nomes"
          placeholder="Nome completo"
          required
        />
        <input
          type="email"
          [(ngModel)] = "emailUsuario"
          name="email"
          id="nomes"
          placeholder="E-mail"
          required
        />
        <input
          type="password"
          name="criarsenha"
          [(ngModel)] = "senhaUsuario"
          id="senha"
          placeholder="Criar senha"
          required
        />
        <input
          type="password"
          name="confirmarsenha"
          [(ngModel)] = "confirmarSenha"
          id="senha"
          placeholder="Confirmar senha"
          required
        />
        <input
          type="text"
          [(ngModel)] = "telefoneUsuario"
          name="telefone"
          id="senha"
          placeholder="(DDD)Telefone"
          required
        />
  
        
        <input
          type="text"
          name="endereco"
          [(ngModel)] = "enderecoUsuario"
          id="senha"
          placeholder="Endereço"
          required
        />
        
      </form>
    </div>
  
    <div>
      <p class="login">
        Se já possui uma conta, <a href="/login">faça login aqui.</a>
      </p>
    </div>
  
    <div id="centralizador">
      <button
        type="submit"
        (click)="cadastro()"
        value="Cadastre-se"
        id="btn-cadastre-se"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cadastre-se
      </button>
    </div>
  </div>