<div class="product-row" >

    
  <div class="product-item" *ngFor = "let item of items; let i = index" 
       (mouseenter)="onHover(i, true)" 
       (mouseleave)="onHover(i, false)">
    <svg class="highlight-circle" 
         [class.active]="hovered === i" 
         xmlns="http://www.w3.org/2000/svg" 
         viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="50" />
    </svg>
    <div class="container-image">
    <img class="product-image" 
         src= "{{item.imagemProduto}}"
         alt="{{item?.produto?.descricaoProduto}}">
        </div>
    <div class="product-details">
      <h2>{{item?.produto?.nomeProduto}}</h2>
      <span class="card-text"> R$ {{ item?.preco | number:'1.2-2'}}</span>   <!-- Alterar para não se fixo  -->
    
    </div>
    
    <button (click)="comprar(item.idItem)" class="buy-button" [class.active]="hovered === i">COMPRAR</button>
  </div>
</div>

<div class="c-border"></div>

<div class="imagem">
 <img class="camisetas" src="img/Imagem1.png" alt="Camisetas Protheus">
 <img class="camisetas" src="img/Imagem2.png" alt="Camisetas Protheus">
</div>


<div class="c-border"></div>
