<div class="parteTita">
  <div class="Tita">
    <h2 class="tita">TITA</h2>
    <p>
      Conheça a Tita, Assistente Virtual da Loja do IOS! A Tita é o símbolo de
      inclusão, transparência e acessibilidade da Loja do IOS. Seu nome, inspirado
      em "Todos, Inclusão, Transparência e Acessibilidade", reflete nossos valores.
      Essa abordagem facilita a comunicação com os clientes, tornando as versões mais
      memoráveis e reforçando nosso compromisso com a valorização da biodiversidade.
      A Tita é mais do que uma assistente; ela é a guardiã de uma narrativa que une
      tecnologia, educação e respeito ao meio ambiente. Explore o universo da Loja do IOS
      com a Tita e faça parte dessa jornada de transformação e celebração.
    </p>
  </div>
  <img src="img/Tita.png" alt="Imagem da Tita" class="imagem1" />
</div>

<div class="parteTroca">
  <div class="troca">
    <h2>TROCA E DEVOLUÇÃO</h2>
    <p>
      Na Loja do IOS, você tem até 7 dias corridos após o recebimento do produto para solicitar
      troca ou devolução, desde que o item esteja em perfeitas condições, com embalagem
      original e acessórios. A devolução por insatisfação terá custo de frete por conta do cliente,
      enquanto defeitos ou erros de envio são de responsabilidade da empresa. Produtos personalizados
      ou de higiene não podem ser trocados, exceto em casos de defeito. O reembolso será feito
      conforme o método de pagamento utilizado.
    </p>
  </div>
  <img src="img/entrega.png" alt="Imagem de um entregador entregando o produto" class="imagem2" />
</div>

<section class="parteContato">
  <h1 class="titulo-contato">Contato</h1>
  <div class="informacoes-contato">
    <div class="item-contato">
      <img class="icone" src="img/whats.png" alt="Ícone do WhatsApp">
      <a href="https://wa.me/5511994703961" class="fa fa-whatsapp"> (11) 9. 9470-3961</a>
    </div>
    <div class="item-contato">
      <img class="icone" src="img/e-mail.png" alt="Ícone de e-mail">
      <a class="email" href="mailto:lojaios2024@gmail.com">lojaios2024&#64;gmail.com</a>
    </div>
    <div class="item-contato">
      <img class="icone" src="img/localizacao.png" alt="Ícone de localização">
      <a href="https://maps.app.goo.gl/AAMWoHcYh1QjSGo98" class="store-link">Av. Braz Leme, 1000 - Santana</a>
    </div>
  </div>
</section>

<app-footer></app-footer>
