@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Estilo para o corpo e reset básico */


/* Parte que fala sobre a Tita */
.parteTita {
    display: flex;
    align-items: center;             
    justify-items: center;           
    width: 100vw;                    
    height: 550px;                     
    background-color: #d1a8ee;      
    padding: 1.4rem;                  
    box-sizing: border-box;        
    text-align: left;
    margin-top: 6%;
    color: rgb(0, 0, 0);
    margin-bottom: 200px;
}

/* Imagem da Tita */
.imagem1 {
    position: absolute;
    max-width: 40%;
    height: auto;
    max-height: 80%;
    border-radius: 60px;
    right: 0%;
}

/* Texto que fala da Tita */
.Tita{
    width: 50%;
    font-size: 22px;
    margin-left: 8%;
    text-align: justify; 
}

/* Parte que fala de devolução */
.parteTroca {
    display: flex;
    align-items: center;             
    justify-items: center;          
    width: 100%;                    
    height: 500px;                  
    background-color: #49176d;     
    padding: 1rem;                  
    box-sizing: border-box;         
    text-align: left;
    margin-top: 12%;
    color: rgb(248, 248, 248);
    margin-bottom: 12%;
}

/* Imagem fala sobre troca e devolução */
.imagem2 {
    position: absolute;
    max-width: 40%;
    height: auto;
    max-height: 80%;
    border-radius: 60px;
    left: 8%;
    padding: 30px;
    background-color: #daa748;
}

/*Texto fala sobre troca e devolução */
.troca{
    width: 44%;
    font-size: 22px;
    margin-left: 50%;
        text-align: justify; 
}

/* Estilos gerais para o card */
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 80px;
}

h2{
    padding: 0.4rem;
    color: #FF8C00;
    border-radius: 30px;
}


/* Seção contato */
.parteContato {
    background-color: #d1a8ee; 
    padding: 80px; 
    text-align: center; 
    position: relative;
}

  .titulo-contato {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #49176d;
    padding: 2%;
  }
  
  .informacoes-contato {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }
  
  .item-contato {
    background-color: #e4c6fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .item-contato h3 {
    font-size: 1.2em;
    color: #FF8C00;
    margin-bottom: 10px;
  }
  
  .item-contato p {
    font-size: 1em;
    color: #242424;
  }


/* Modelo para mobile */

@media screen and (max-width: 768px) {

    /* Tituto tita */
    h2{
        margin-top: 10%;
    }

    /* textos */
    .troca, .Tita {
        width: 100%;            
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        font-size: 16px;      
    }

    /* imagens */
    .imagem1, .imagem2 {
        position: static;
        max-width: 100%;        
        height: auto;           
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        border-radius: 20px;   
        max-height: 450px; /* Ajuste baseado no design */
        object-fit: cover; /* Ajusta a imagem sem distorção */ 
    }

    .parteTroca, .parteTita {
        flex-direction: column; /* Alinhar texto e imagem em coluna */
        text-align: center;     
        height: auto;   
    }

    
    /* Diminui a margem entre os card*/
    .parteTroca, .parteTita {
        margin-top: 6%;   
        margin-bottom: 6%; 
    }

    
    /* Parte contato */

    .titulo-contato {
        font-size: 2em;
      }
    
      .informacoes-contato {
        grid-template-columns: 1fr;
      }
    
      .item-contato {
        width: 80%;
        margin: 10px auto;
      }

    /* Diminui a margem entre os card*/
    .sobreOios, .conteudo, .sejaUmParceiro {
        margin-top: 6%;   
        margin-bottom: 6%; 
    }
    
  }
  
  /* Ajustes para telas muito pequenas (smartphones) */
  @media screen and (max-width: 480px) {


    .parteContato {
        text-align: center; /* Centraliza o conteúdo da parteContato */
      }
    .troca, .Tita {
        width: 100%;           
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        font-size: 16px;       
    }

    .imagem1, .imagem2 {
        max-width: 90%;  /* Ajusta a largura da imagem */
        height: auto;    /* Garante que a altura seja proporcional */
        margin-top: 1rem; /* Adiciona um espaço entre o texto e a imagem */
    }


    h1{
        width: 70%; 
        padding: 1.5rem; 
        margin: 0; 
        border-radius: 20px; 
        font-size: 1.7rem;
    }
  }


/* Parte contato */

@media (min-width: 1200px) {
    
    .titulo-contato {
      font-size: 3em;
    }
  
    .informacoes-contato {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .item-contato {
      width: 90%;
    }
    

  }








