<div class="container">
    <div class="faixa">
        <img src="img/05.JPG" alt="Imagem Sobressaindo" class="imagem">
        <div class="texto">
        <h1></h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, optio excepturi amet eveniet aspernatur quia laborum quasi. Ea incidunt, commodi sit quidem quia molestias mollitia, nulla possimus distinctio quasi voluptas!</p>
    </div>
    </div>
</div>


<div class="container2">
    <div class="faixa2">
        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, mollitia. Accusantium enim in recusandae dolorum veniam ipsa sed similique excepturi explicabo sapiente, voluptatibus ducimus sit autem iure odio quasi! Nisi.</p>
        <img src="img/05.JPG" alt="Imagem exemplo" class="imagem2">
    </div>
</div>

<div class="container3">
    <div class="faixa3">
        <h1 class="titulo">Título Aqui</h1>
        <p class="texto">Este é o texto que aparece abaixo do título. Você pode escrever aqui qualquer coisa que deseje incluir.</p>
        <img class="imagem3" src="img/05.JPG" alt="Descrição da imagem">
    </div>
</div>





<app-footer></app-footer>