@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Estilo para o corpo e reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Faixa da parte que fala sobre o Ios */
.sobreOios {
    display: flex;
    align-items: center;             
    justify-items: center;           
    width: 100%;                   
    height: 500px;                     
    background-color: #49176d;      
    padding: 1rem;                   
    box-sizing: border-box;          
    text-align: left;
    margin-top: 12%;
    color: aliceblue;
    margin-bottom: 16%;
}

section {
    background-color: #d1a8ee; 
    padding: 6px; 
  }

/* Textoque fala sobre o Ios */
.textoSobreIos{
    width: 44%;
    font-size: 18px;
    margin-left: 46%;
    text-align: justify; 
}

/* Estilos gerais para o card */
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 80px;
}

/* Textos dos Card */
.conteudo {
    display: flex;
    align-items: center;             
    justify-items: center;           
    width: 100vw;                   
    height: 550px;                    
    background-color: #49176d;       
    padding: 1.4rem;                   
    box-sizing: border-box;       
    text-align: left;
    margin-top: 12%;
    color: aliceblue;
    margin-bottom: 200px;
}

/* Texto que fala da loja IOS */
.textoLojaIos{
    width: 44%;
    font-size: 18px;
    margin-left: 8%;
    text-align: justify; 
}

/* Imagem da fachada do IOS */
.fachadaIos {
    position: absolute;
    max-width: 34%;
    height: 90%;
    border-radius: 60px;
    left: 8%;
}

.imagem2 {
    position: absolute;
    max-width: 36%;
    height: auto;
    border-radius: 60px;
    right: 8%;
}

.imagemlogo{
    position: absolute;
    max-width: 34%;
    height: auto;
    border-radius: 60px;
    right: 8%;
}

h2{
    padding: 0.4rem;
    color: #FFA500;
    border-radius: 30px;
}

h1{
    padding: 0.4rem;
    color: #49176d;
    background: #FFA500;
    width: 40%;
    border-radius: 30px;
    margin-top: 60px;
}


/* Estilo para a seção personalizada  do seja um parceiro*/
.sejaUmParceiro {
    background-color: #b8b5b5; 
    padding: 20px; 
    text-align: center; 
    position: relative; 
}

/* Estilo para a imagem */
.imagemParceiro {
    width: 70%; 
    height: auto; 
    display: block; 
    margin: auto;
    margin-bottom: 60px;
    margin-top: 2px;
    border-radius: 6%;
    box-shadow: 6px 6px 6px 6px rgba(85, 3, 81, 0.1);
}

/* Estilo para o conteúdo */
.textoParceiro {
    position: relative; 
    padding: 30px;
    border-radius: 5px; 
    display: inline-block; 
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.1px;
    text-align: justify; 
}



/* Parte doa-se */


h2{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.textodoa{
    margin: 0 auto;
    padding: 0 4%; /* 10% de espaçamento nas laterais */
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.qrcode{
    margin-left: auto;
    margin-right: auto;
}

.qrcode{
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 2%;
    color: #FFA500;
}


/* Modelo para mobile */

@media screen and (max-width: 768px) {

/* Estilização card doe */

    .card{
        text-align: justify;
    }

    section {
        background-color: #d1a8ee; 
        padding: 2px; 
        margin-top: 10%;
    }

    .sobreOios, .conteudo, .sejaUmParceiro {
        flex-direction: column; /* Alinhar texto e imagem em coluna */
        text-align: center;     
        height: auto;         
    }

    .textoSobreIos, .textoLojaIos, .textoParceiro {
        width: 100%;            
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        font-size: 16px;       
    }

    .fachadaIos, .imagem2, .imagemParceiro, .imagemlogo{
        position: static;
        max-width: 100%;        
        height: auto;           
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        border-radius: 20px;   
        max-height: 450px; /* Ajuste baseado no design */
        object-fit: cover; /* Ajusta a imagem sem distorção */ 
    }

        /* Titutlo da parte seja um parceiro */
        h1{
            width: 100%; 
            padding: 1rem; 
            margin: 0; 
            border-radius: 20px; 
            font-size: 1.7rem;
        }


    /* Diminui a margem entre os card*/
    .sobreOios, .conteudo, .sejaUmParceiro {
        margin-top: 6%;   
        margin-bottom: 6%; 
    }

    .imagemParceiro{
        width: 100%; 
        margin: 0; 
        border-radius: 20px; 
    }

    .card-img-top{
        width: 0%;
        height: 50%;
    }
    
  }
  
  /* Ajustes para telas muito pequenas (smartphones) */
  @media screen and (max-width: 480px) {

    section {
        background-color: #d1a8ee; 
        padding: 2px; 
    }

    .sobreOios, .conteudo, .sejaUmParceiro {
        flex-direction: column; /* Alinhar texto e imagem em coluna */
        text-align: center;     
        height: auto;          
    }

    .textoSobreIos, .textoLojaIos, .textoParceiro {
        width: 100%;           
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        font-size: 16px;       
    }

    .fachadaIos, .imagem2, .imagemParceiro {
        position: static;
        max-width: 100%;       
        height: auto;           
        margin: 0 auto 1rem;    /* Centralizar e adicionar espaço inferior */
        border-radius: 20px;   
        max-height: 350px; /* Ajuste baseado no design */
        object-fit: cover; /* Ajusta a imagem sem distorção */ 
    }

     /* Diminui a margem entre os card*/
    .sobreOios, .conteudo, .sejaUmParceiro {
        margin-top: 6%;   
        margin-bottom: 6%; 
    }

    .imagemParceiro{
        width: 100%; 
        margin: 0; 
        border-radius: 20px;  
    }

  }