<section>
  <div class="sobreOios">
    <div class="textoSobreIos">
      <h2>SOBRE NÓS IOS</h2>
      <br />
      <p>
        O Instituto da Oportunidade Social (IOS) é uma entidade beneficente de
        assistência social, certificada pelo CEBAS, que desde 1998 promove a
        formação profissional gratuita e a empregabilidade de jovens e pessoas
        com deficiência. O IOS capacita profissionais que, além do conhecimento
        técnico e da formação teórica, desenvolvem competências comportamentais
        essenciais para o mercado de trabalho. Entre essas habilidades estão o
        cuidado com as relações interpessoais, o respeito às diferenças, o
        trabalho em equipe e a solução criativa de problemas, sempre com uma
        abordagem inovadora que prepara os indivíduos para os desafios do mundo
        profissional.
      </p>
    </div>
    <img
      src="img/fachada.jpeg"
      class="img-fluid"
      class="fachadaIos"
      class="fachadaIos"
      alt="Imagem da fachada da loja do IOS"
    />
  </div>
</section>

<div class="conteudo">
  <div class="textoLojaIos">
    <h2>LOJA DO IOS</h2>
    <br />
    <p>
      Compre e Apoie a Transformação Social! O Instituto da Oportunidade Social
      (IOS) criou a Loja do IOS, um espaço onde você pode adquirir camisetas e
      acessórios exclusivos e, ao mesmo tempo, apoiar diretamente nossas causas.
      Toda a renda gerada com as vendas da loja é totalmente revertida para as
      ações do Instituto, que desde 1998 trabalha para promover a formação
      profissional gratuita e a empregabilidade de jovens e pessoas com
      deficiência. Ao comprar um produto da nossa loja, você se torna parte
      dessa transformação, ajudando a capacitar e oferecer novas oportunidades a
      quem mais precisa. Na Loja do IOS, você encontra itens que representam o
      compromisso com a inclusão e a construção de um futuro mais justo. Cada
      peça é feita com carinho e traz consigo a força de um movimento que
      impacta positivamente a vida de milhares de pessoas. Compre, ajude e faça
      a diferença! Visite a nossa loja e vista essa causa.
    </p>
  </div>
  <img
    src="img/loja.jpeg"
    alt="Imagem dos produtos da loja do IOS"
    class="imagem2"
  />
</div>

<div class="sobreOios">
  <div class="textoSobreIos">
    <h2>PROJETOS</h2>
    <br />
    <p>
      Os projetos são os eventos com o qual a loja do IOS participa. Nós
      buscamos apresentar nossos produtos nos eventos dentro do universo totvs,
      tendo como foco a vitrine física para os clientes, proporcionando conhecer
      além dos sistemas totvs utilizados propõe também o contato mais de perto
      com personalizações de itens para eventos e feiras.
    </p>
  </div>
  <img
    src="img/evento.jpeg"
    class="img-fluid"
    class="fachadaIos"
    alt="Imagem de um stand do ios"
  />
</div>

<div class="conteudo">
  <div class="textoLojaIos">
    <h2>TOTVS E O IOS</h2>
    <br />
    <p>
      Como a maior empresa de tecnologia do Brasil, a TOTVS desempenha um papel
      essencial na formação de profissionais para o mercado de tecnologia
      nacional, promove a empregabilidade e amplia as oportunidades para os
      jovens, oferecendo às empresas do ecossistema (TOTVS, clientes, franquias,
      canais, entre outros) profissionais altamente qualificados, com sólida
      formação teórica e técnica. O Instituto Oportunidade Social (IOS) é uma
      organização sem fins lucrativos, apoiada pela iniciativa privada, que atua
      desde 1998 no desenvolvimento de jovens em situação de vulnerabilidade
      social e pessoas com deficiência. Com foco na capacitação profissional
      gratuita, o IOS oferece uma formação completa, que combina conhecimento
      técnico e teórico com habilidades comportamentais como trabalho em equipe
      e solução criativa de problemas, sempre orientada por uma mentalidade
      inovadora.
    </p>
  </div>
  <img src="img/IOS.jpeg" alt="Logo IOS e Totvs" class="imagemlogo" />
</div>

<section class="sejaUmParceiro">
  <div>
    <h1>Seja um Parceiro !</h1>
    <p class="textoParceiro">
      Ao se tornar um parceiro da Loja do IOS, você se junta a uma iniciativa
      que vai além da moda. Cada camiseta, acessório ou produto adquirido na
      loja carrega o propósito de transformar vidas e construir um futuro mais
      inclusivo. A parceria com a Loja do IOS é uma forma de alinhar sua marca
      ou empresa a uma causa social relevante, fortalecendo sua presença
      enquanto impacta positivamente a vida de milhares de pessoas. Juntos,
      podemos ir mais longe, gerando impacto e transformando Vista essa causa e
      inspire outras transformações!
    </p>
  </div>
  <img
    src="img/FachadaIos.png"
    class="img-fluid"
    class="imagemParceiro"
    alt="Fachada do Ios"
  />
</section>

<!-- Parte doa-se -->

<div>
  <h2>Sua contribuição faz a diferença para nossa causa!</h2>
  <br />
  <p class="textodoa">
    Acreditamos que a educação transforma vidas e que todo jovem merece a chance
    de construir um futuro melhor.Nesta campanha, convidamos você a criar um
    impacto duradouro, oferecendo oportunidades de formação para quem mais
    precisa!
  </p>
  <br />
  <img src="img/qrcode5.png" class="card-img-top" alt="..." />
  <p class="qrcode"> <b>Leia o QR Code</b></p>
</div>



<app-footer></app-footer>