<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="img/05.JPG" class="card-img-top" alt="Imagem de uma mulher branca">
        <div class="card-body">
          <h5 class="card-title">Allana Lu</h5>
          <p class="card-text">Ótimo atendimento, chegou super rápido.</p>
          <div class="estrelas">
            <input type="radio" id="estrela1" value="1">
            <label for="estrela1" class="estrela">&#9733;</label>
            <input type="radio" id="estrela2" value="2">
            <label for="estrela2" class="estrela">&#9733;</label>
            <input type="radio" id="estrela3" value="3">
            <label for="estrela3" class="estrela">&#9733;</label>
            <input type="radio" id="estrela4" value="4">
            <label for="estrela4" class="estrela">&#9733;</label>
            <input type="radio" id="estrela5" value="5">
            <label for="estrela5" class="estrela">&#9733;</label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Abril 26, 2024</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/01.JPG" class="card-img-top" alt="Imagem de uma mulher negra">
        <div class="card-body">
          <h5 class="card-title">Zuri</h5>
          <p class="card-text">Desde o primeiro contato, fui tratada com muita profissionalismo.</p>
          <div class="estrelas">
            <input type="radio" id="estrela1" value="1">
            <label for="estrela1" class="estrela">&#9733;</label>
            <input type="radio" id="estrela2" value="2">
            <label for="estrela2" class="estrela">&#9733;</label>
            <input type="radio" id="estrela3" value="3">
            <label for="estrela3" class="estrela">&#9733;</label>
            <input type="radio" id="estrela4" value="4">
            <label for="estrela4" class="estrela">&#9733;</label>
            <input type="radio" id="estrela5" value="5">
            <label for="estrela5" class="estrela">&#9733;</label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Julho 30, 2024</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/02.JPG" class="card-img-top" alt="Imagem do homem que pertence ao grupo LGBTQ+">
        <div class="card-body">
          <h5 class="card-title">Lior</h5>
          <p class="card-text">Ótimos produtos, recomendarei a outras pessoas.</p>
          <div class="estrelas">
            <input type="radio" id="estrela1" value="1">
            <label for="estrela1" class="estrela">&#9733;</label>
            <input type="radio" id="estrela2" value="2">
            <label for="estrela2" class="estrela">&#9733;</label>
            <input type="radio" id="estrela3" value="3">
            <label for="estrela3" class="estrela">&#9733;</label>
            <input type="radio" id="estrela4" value="4">
            <label for="estrela4" class="estrela">&#9733;</label>
            <input type="radio" id="estrela5" value="5">
            <label for="estrela5" class="estrela">&#9733;</label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Agosto 5, 2024</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/03.JPG" class="card-img-top" alt="Imagem de um homem negra">
        <div class="card-body">
          <h5 class="card-title">Ember</h5>
          <p class="card-text">Os produtos chegaram bem embalados e em ótimo estado.</p>
          <div class="estrelas">
            <input type="radio" id="estrela1" value="1">
            <label for="estrela1" class="estrela">&#9733;</label>
            <input type="radio" id="estrela2" value="2">
            <label for="estrela2" class="estrela">&#9733;</label>
            <input type="radio" id="estrela3" value="3">
            <label for="estrela3" class="estrela">&#9733;</label>
            <input type="radio" id="estrela4" value="4">
            <label for="estrela4" class="estrela">&#9733;</label>
            <input type="radio" id="estrela5" value="5">
            <label for="estrela5" class="estrela">&#9733;</label>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Setembro 17, 2024</small>
        </div>
      </div>
    </div>
  </div>

